@keyframes leftToRight {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	100% {
		opacity: 1;
	}
}
@keyframes rightToLeft {
	0% {
		opacity: 0;
		transform: translateX(13rem);
	}
	100% {
		opacity: 1;
	}
}

@keyframes btnToUp {
	0% {
		opacity: 0;
		transform: translateY(2.5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0rem);
	}
}
